venv/
.streamlit/secrets.toml
__pycache__/
*.db
.DS_Store
*.pt
# Google API Anahtarları
secrets.json
.streamlit/secrets.toml

# Python ve Geçici Dosyalar
__pycache__/
*.pyc
.env
venv/
.DS_Store
secrets.json
__pycache__/
.streamlit/
*.pt